@using Commerce.UI.Models.Common
@using Commerce.Web.Framework.Themes
@using Commerce.Core.Domain.Templates
@using Commerce.Core
@model ContactUsModel

@{
    Layout = Constant.DefaultTheme + $"{Model.DefaultStoreTheme}/Views/Shared/_ColumnsOne.cshtml";
    var linkbase = HttpContext.Current.Request.Url.Scheme + "://" + HttpContext.Current.Request.Url.Authority;
}


<div class="eltdf-content">
    <div class="eltdf-content-inner">
        <div class="eltdf-title-holder eltdf-centered-type eltdf-title-va-header-bottom eltdf-preload-background eltdf-has-bg-image eltdf-bg-parallax"
             style="height: 510px;background-image:url(https://nailmarketing.net/wp-content/uploads/2018/06/contact-3-title.jpg);"
             data-height="510">
            <div class="eltdf-title-image">
                <img itemprop="image"
                     src="https://nailmarketing.net/wp-content/uploads/2018/06/contact-3-title.jpg"
                     alt="d" />
            </div>
            <div class="eltdf-title-wrapper" style="height: 510px">
                <div class="eltdf-title-inner">
                    <div class="eltdf-grid">
                        <h1 class="eltdf-page-title entry-title" style="color: #ffffff">Contact Us</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="eltdf-full-width">
            <div class="eltdf-full-width-inner">
                <div class="eltdf-grid-row">
                    <div class="eltdf-page-content-holder eltdf-grid-col-12">
                        <div class="eltdf-row-grid-section-wrapper ">
                            <div class="eltdf-row-grid-section">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1528294204860 vc_row-has-fill">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner vc_custom_1528294145632">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        @if (!string.IsNullOrEmpty(Model.GoogleMapIframe))
                                                        {
                                                            <iframe src="@Model.GoogleMapIframe" style="width:100%; height:640px;" allowfullscreen></iframe>
                                                        }

                                                    </div>
                                                </div>
                                                <div class="vc_empty_space" style="height: 100px">
                                                    <span class="vc_empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eltdf-row-grid-section-wrapper ">
                            <div class="eltdf-row-grid-section">
                                <div class="vc_row wpb_row vc_row-fluid vc_custom_1530020546735">
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="eltdf-elements-holder   eltdf-one-column  eltdf-responsive-mode-768 ">
                                                    <div class="eltdf-eh-item    "
                                                         data-item-class="eltdf-eh-custom-7189"
                                                         data-769-1024="0px 0% 70px"
                                                         data-681-768="0px 0% 70px" data-680="0px 0% 70px">
                                                        <div class="eltdf-eh-item-inner">
                                                            <div class="eltdf-eh-item-content eltdf-eh-custom-7189">
                                                                <div role="form" class="wpcf7"
                                                                     id="wpcf7-f1990-p2112-o1" lang="en-US"
                                                                     dir="ltr">
                                                                    <div class="screen-reader-response"
                                                                         role="alert" aria-live="polite">
                                                                    </div>

                                                                    @using (Html.BeginForm("ContactUs", "Common", FormMethod.Post, new { @class = "wpcf7-form init cf7_custom_style_2" }))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        @Html.HiddenFor(x => x.StoreId)
                                                                        <div class="eltdf-grid-row eltdf-grid-small-gutter">
                                                                            <div class="eltdf-grid-col-6">
                                                                                <p style="text-align: center;">
                                                                                    <span class="wpcf7-form-control-wrap text-712">

                                                                                        <input type="text"
                                                                                               name="FullName"
                                                                                               value=""
                                                                                               size="40"
                                                                                               class="wpcf7-form-control wpcf7-text"
                                                                                               aria-invalid="false"
                                                                                               placeholder="Name"
                                                                                               required />
                                                                                    </span>
                                                                                </p>
                                                                            </div>
                                                                            <div class="eltdf-grid-col-6">
                                                                                <p style="text-align: center;">
                                                                                    <span class="wpcf7-form-control-wrap email-492">
                                                                                        <input type="email"
                                                                                               name="Email"
                                                                                               value=""
                                                                                               size="40"
                                                                                               class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email"
                                                                                               aria-invalid="false"
                                                                                               placeholder="Email"
                                                                                               required />
                                                                                    </span>
                                                                                </p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p style="text-align: center;">
                                                                                <span class="wpcf7-form-control-wrap textarea">
                                                                                    <textarea name="Subject"
                                                                                              cols="40" rows="10"
                                                                                              class="wpcf7-form-control wpcf7-textarea"
                                                                                              aria-invalid="false"
                                                                                              placeholder="Type your message" required></textarea>
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                        <div class="eldtf-btn eldtf-btn-huge eltdf-cf-type-2">
                                                                            <p style="text-align: center;">
                                                                                <input type="submit"
                                                                                       value="SEND US A MESSAGE"
                                                                                       class="wpcf7-form-control wpcf7-submit" />
                                                                            </p>
                                                                        </div>

                                                                    }
                                                                    @if (Model.SuccessfullySent)
                                                                    {
                                                                        <div class="wpcf7-response-output" role="alert" aria-hidden="true" style="display: block;">@Model.Result</div>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-6 vc_col-md-12 vc_col-xs-12">
                                        <div class="vc_column-inner">
                                            <div class="wpb_wrapper">
                                                <div class="eltdf-elements-holder   eltdf-one-column  eltdf-responsive-mode-768 ">
                                                    <div class="eltdf-eh-item    "
                                                         data-item-class="eltdf-eh-custom-7179"
                                                         data-769-1024="0px 0% 0px 0%"
                                                         data-681-768="0px 0% 0px 0%"
                                                         data-680="0px 7% 0px 0%">
                                                        <div class="eltdf-eh-item-inner">
                                                            <div class="eltdf-eh-item-content eltdf-eh-custom-7179"
                                                                 style="padding: 0px 0% 0px 6%">
                                                                <div class="eltdf-section-title-holder  eltdf-st-standard eltdf-st-title-left  eltdf-animated-tagline">
                                                                    <div class="eltdf-st-inner">
                                                                        <span class="eltdf-st-tagline"
                                                                              style="color: #515151">
                                                                            Nails too
                                                                            hot to miss
                                                                        </span>
                                                                        <h2 class="eltdf-st-title"
                                                                            style="color: #9edd00">
                                                                            Contact
                                                                            Us
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space"
                                                                     style="height: 14px">
                                                                    <span class="vc_empty_space_inner"></span>
                                                                </div>
                                                                <div class="wpb_text_column wpb_content_element ">
                                                                    <div class="wpb_wrapper">
                                                                        <!--TopicBlock HoursOfOperation-->
                                                                        @Html.Action("TopicBlock", "Widget", new { id = Model.StoreId, systemName = "HoursOfOperation:" })
                                                                        <!--end TopicBlock HoursOfOperation-->

                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space"
                                                                     style="height: 10px">
                                                                    <span class="vc_empty_space_inner"></span>
                                                                </div>
                                                                <div class="eltdf-iwt clearfix  eltdf-iwt-icon-left eltdf-iwt-icon-medium">
                                                                    <div class="eltdf-iwt-icon-wrapper">
                                                                        <div class="eltdf-iwt-icon">
                                                                            <a itemprop="url"
                                                                               href="tel:+%201%202704421180"
                                                                               target="_self">
                                                                                <span class="eltdf-icon-shortcode eltdf-normal   eltdf-icon-medium"
                                                                                      data-color="#9edd00">
                                                                                    <i class="eltdf-icon-ion-icon ion-ios-telephone-outline eltdf-icon-element"
                                                                                       style="color: #9edd00;font-size:30px"></i>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="eltdf-iwt-content">
                                                                            <p class="eltdf-iwt-text"
                                                                               style="margin-top: 2px">
                                                                                @Model.Store.CompanyPhoneNumber
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="vc_empty_space"
                                                                     style="height: 10px">
                                                                    <span class="vc_empty_space_inner"></span>
                                                                </div>
                                                                <div class="eltdf-iwt clearfix  eltdf-iwt-icon-left eltdf-iwt-icon-medium">
                                                                    <div class="eltdf-iwt-icon-wrapper">
                                                                        <div class="eltdf-iwt-icon">
                                                                            <a itemprop="url" href="#"
                                                                               target="_self">
                                                                                <span class="eltdf-icon-shortcode eltdf-normal   eltdf-icon-medium"
                                                                                      data-color="#9edd00">
                                                                                    <i class="eltdf-icon-ion-icon ion-ios-home-outline eltdf-icon-element"
                                                                                       style="color: #9edd00;font-size:30px"></i>
                                                                                </span>
                                                                            </a>
                                                                        </div>
                                                                        <div class="eltdf-iwt-content">
                                                                            <p class="eltdf-iwt-text"
                                                                               style="margin-top: 2px">
                                                                                @Model.Store.CompanyAddress
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="elfsight-widget-popup elfsight-widget"
                                             data-elfsight-popup-options="%7B%22blocks%22%3A%5B%7B%22id%22%3A%220495cc72-d6c7-42e5-8d5f-b54ca3fd8f83%22%2C%22type%22%3A%22iframe%22%2C%22titleText%22%3A%22Sample%20Title%22%2C%22titleColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22titleFontSize%22%3A24%2C%22titleFontWeight%22%3A400%2C%22textText%22%3A%22%22%2C%22textColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22textFontSize%22%3A17%2C%22bannerFile%22%3Anull%2C%22bannerPosition%22%3A%22right%22%2C%22imageFile%22%3Anull%2C%22imageScale%22%3A100%2C%22videoUrl%22%3A%22%22%2C%22videoAutoplay%22%3Atrue%2C%22couponCode%22%3A%22COUPON%20CODE%22%2C%22couponClickToCopyText%22%3A%22CLICK%20TO%20COPY%22%2C%22couponCopiedText%22%3A%22COPIED%21%22%2C%22couponColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22couponFontSize%22%3A16%2C%22buttonAction%22%3A%22redirect%22%2C%22buttonUrl%22%3A%22%22%2C%22buttonOpenLinkInNewTab%22%3Atrue%2C%22buttonText%22%3A%22Button%20Text%22%2C%22buttonStyle%22%3A%22filled%22%2C%22buttonColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22buttonFontSize%22%3A16%2C%22linkAction%22%3A%22redirect%22%2C%22linkUrl%22%3A%22%22%2C%22linkText%22%3A%22Sample%20Text%22%2C%22linkColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22linkFontSize%22%3A17%2C%22separatorColor%22%3A%22rgba%2817%2C%2017%2C%2017%2C%20.2%29%22%2C%22separatorMargin%22%3A0%2C%22spacingSize%22%3A16%2C%22iframeUrl%22%3A%22https%3A%5C%2F%5C%2Fmanage2.mangoforsalon.com%5C%2F%5C%2F%5C%2FBookOnline%3Fparameters%3DqspEHAdbJpKoZ5RYbB7jQWDS70HQDM9cfRgpk5jWWwA%253d%22%2C%22iframeWidth%22%3A%22400%22%2C%22iframeHeight%22%3A900%2C%22htmlCode%22%3A%22%22%2C%22formFields%22%3A%5B%7B%22id%22%3A%22e80f1644-bd32-4789-94f5-4e4063caae5c%22%2C%22type%22%3A%22email%22%2C%22label%22%3A%22Email%22%7D%5D%2C%22formButtonText%22%3A%22Submit%22%2C%22undefined%22%3Anull%2C%22iframeAllowAutoplay%22%3Atrue%2C%22iframeAllowCamera%22%3Afalse%2C%22iframeAllowMicrophone%22%3Afalse%2C%22formSubmitAction%22%3A%22closePopup%22%2C%22formSubmitActionRedirectUrl%22%3A%22%22%2C%22formStyle%22%3A%22filled%22%2C%22formFontSize%22%3A16%2C%22formButtonColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22formInputColor%22%3A%22rgb%28255%2C%20255%2C%20255%29%22%2C%22label%22%3A%22iFrame%22%7D%5D%2C%22layout%22%3A%22modal%22%2C%22width%22%3A400%2C%22popupBlocksAlignment%22%3A%22center%22%2C%22popupShape%22%3A%22rectangle%22%2C%22popupBackgroundColor%22%3A%22rgb%2848%2C%2048%2C%2048%29%22%2C%22popupBackgroundImage%22%3Anull%2C%22popupBackgroundImageOverlayColor%22%3A%22%22%2C%22overlayVisible%22%3Atrue%2C%22overlayClose%22%3Atrue%2C%22overlayBackgroundColor%22%3A%22rgba%2857%2C%2057%2C%2057%2C%200.7%29%22%2C%22overlayBackgroundImage%22%3Anull%2C%22overlayBackgroundImageOverlayColor%22%3Anull%2C%22closeButtonVisible%22%3Atrue%2C%22closeButtonColor%22%3A%22rgb%280%2C%200%2C%200%29%22%2C%22triggerPageLoadEnabled%22%3Afalse%2C%22triggerTimeOnPageEnabled%22%3Afalse%2C%22triggerTimeOnPageDuration%22%3A30%2C%22triggerScrollEnabled%22%3Afalse%2C%22triggerScrollPosition%22%3A50%2C%22triggerScrollToElementEnabled%22%3Afalse%2C%22triggerScrollToElementId%22%3Anull%2C%22triggerClickEnabled%22%3Atrue%2C%22triggerClickElementId%22%3A%22BookAppointment%22%2C%22triggerExitIntentEnabled%22%3Afalse%2C%22displayFrequency%22%3A%22everytime%22%2C%22displayPages%22%3A%22allPages%22%2C%22displayExcludedPages%22%3A%5B%5D%2C%22displaySpecificPages%22%3A%5B%5D%2C%22displayDevices%22%3A%5B%22tablet%22%2C%22mobile%22%2C%22desktop%22%5D%2C%22widgetId%22%3A%221%22%7D"
                                             data-elfsight-popup-version="1.1.0"
                                             data-elfsight-widget-id="elfsight-popup-1"></div>
                                        <div class="elfsight-widget-popup elfsight-widget"
                                             data-elfsight-popup-options="%7B%22blocks%22%3A%5B%7B%22id%22%3A%220495cc72-d6c7-42e5-8d5f-b54ca3fd8f83%22%2C%22type%22%3A%22iframe%22%2C%22titleText%22%3A%22Sample%20Title%22%2C%22titleColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22titleFontSize%22%3A24%2C%22titleFontWeight%22%3A400%2C%22textText%22%3A%22%22%2C%22textColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22textFontSize%22%3A17%2C%22bannerFile%22%3Anull%2C%22bannerPosition%22%3A%22right%22%2C%22imageFile%22%3Anull%2C%22imageScale%22%3A100%2C%22videoUrl%22%3A%22%22%2C%22videoAutoplay%22%3Atrue%2C%22couponCode%22%3A%22COUPON%20CODE%22%2C%22couponClickToCopyText%22%3A%22CLICK%20TO%20COPY%22%2C%22couponCopiedText%22%3A%22COPIED%21%22%2C%22couponColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22couponFontSize%22%3A16%2C%22buttonAction%22%3A%22redirect%22%2C%22buttonUrl%22%3A%22%22%2C%22buttonOpenLinkInNewTab%22%3Atrue%2C%22buttonText%22%3A%22Button%20Text%22%2C%22buttonStyle%22%3A%22filled%22%2C%22buttonColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22buttonFontSize%22%3A16%2C%22linkAction%22%3A%22redirect%22%2C%22linkUrl%22%3A%22%22%2C%22linkText%22%3A%22Sample%20Text%22%2C%22linkColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22linkFontSize%22%3A17%2C%22separatorColor%22%3A%22rgba%2817%2C%2017%2C%2017%2C%20.2%29%22%2C%22separatorMargin%22%3A0%2C%22spacingSize%22%3A16%2C%22iframeUrl%22%3A%22https%3A%5C%2F%5C%2Fmanage2.mangoforsalon.com%5C%2FAreaGiftCard%5C%2Fhome%5C%2FeGiftCate%3Fkey%3DpgZK7uyaUX6tEAXjfBbdoQ%3D%3D%22%2C%22iframeWidth%22%3A%22100%25%22%2C%22htmlCode%22%3A%22%22%2C%22formFields%22%3A%5B%7B%22id%22%3A%22e80f1644-bd32-4789-94f5-4e4063caae5c%22%2C%22type%22%3A%22email%22%2C%22label%22%3A%22Email%22%7D%5D%2C%22formButtonText%22%3A%22Submit%22%2C%22undefined%22%3Anull%2C%22iframeAllowAutoplay%22%3Afalse%2C%22iframeAllowCamera%22%3Afalse%2C%22iframeAllowMicrophone%22%3Afalse%2C%22formSubmitAction%22%3A%22closePopup%22%2C%22formSubmitActionRedirectUrl%22%3A%22%22%2C%22formStyle%22%3A%22filled%22%2C%22formFontSize%22%3A16%2C%22formButtonColor%22%3A%22rgb%2817%2C%2017%2C%2017%29%22%2C%22formInputColor%22%3A%22rgb%28255%2C%20255%2C%20255%29%22%2C%22label%22%3A%22iFrame%22%2C%22iframeHeight%22%3A700%7D%5D%2C%22layout%22%3A%22modal%22%2C%22width%22%3A900%2C%22popupBlocksAlignment%22%3A%22center%22%2C%22popupShape%22%3A%22rectangle%22%2C%22popupBackgroundColor%22%3A%22rgb%2848%2C%2048%2C%2048%29%22%2C%22popupBackgroundImage%22%3Anull%2C%22popupBackgroundImageOverlayColor%22%3A%22%22%2C%22overlayVisible%22%3Atrue%2C%22overlayClose%22%3Atrue%2C%22overlayBackgroundColor%22%3A%22rgba%2857%2C%2057%2C%2057%2C%200.7%29%22%2C%22overlayBackgroundImage%22%3Anull%2C%22overlayBackgroundImageOverlayColor%22%3A%22%22%2C%22closeButtonVisible%22%3Atrue%2C%22closeButtonColor%22%3A%22rgb%28255%2C%20255%2C%20255%29%22%2C%22triggerPageLoadEnabled%22%3Afalse%2C%22triggerTimeOnPageEnabled%22%3Afalse%2C%22triggerTimeOnPageDuration%22%3A30%2C%22triggerScrollEnabled%22%3Afalse%2C%22triggerScrollPosition%22%3A50%2C%22triggerScrollToElementEnabled%22%3Afalse%2C%22triggerScrollToElementId%22%3Anull%2C%22triggerClickEnabled%22%3Atrue%2C%22triggerClickElementId%22%3A%22Egift%22%2C%22triggerExitIntentEnabled%22%3Afalse%2C%22displayFrequency%22%3A%22everytime%22%2C%22displayPages%22%3A%22allPages%22%2C%22displayExcludedPages%22%3A%5B%5D%2C%22displaySpecificPages%22%3A%5B%5D%2C%22displayDevices%22%3A%5B%22desktop%22%2C%22tablet%22%2C%22mobile%22%5D%2C%22widgetId%22%3A%222%22%7D"
                                             data-elfsight-popup-version="1.1.0"
                                             data-elfsight-widget-id="elfsight-popup-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- close div.content_inner -->
</div>




